@import "tailwindcss";

:root {
  --background: #FCFAF6;
  --foreground: #111111;
  --accent: #b5e315;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-martian);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}
